
.site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto 10px;
    //align-content: flex-start;
    justify-content: space-between;
    //height: auto;
    //width: fit-content;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    

    .site-branding {
    img {
        width: 100px;
        height: auto;
    }

    .main-navigation, .site-branding {
        position: fixed;
        z-index: 999;
       
    }
    
}
}

 

