.site-header {
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width:100%;
}

.site-branding {
    img {
        width: 100px;
        height: auto;
        
    }
}