/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.site-content {
   
    display:flex;
  

    .content-area {
        flex:1;
        align-items: center;
        text-align: center;

        width: 75%;
        &.bg-red {
            background-color: #ffffff;
        }
    }

    .widget-area {
        width: 25%;
    }
    .product-types {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: solid 1px lightgrey;
    }
    
       
    }
    
    .btn {
        background-color: #248a83;
        color: white;
    }

    .journal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .adventure-story {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        align-items: center;
        text-align: center;
        padding: 30px;
    }



.masthead {
    flex-direction: row;
    .nav {
        display: flex;
        flex:1;
        align-items: center;
        text-align: center;
     
        }
        .logo {
            position: absolute;
            left: 100px;
            top: 150px;
        }
}
